In [1]:
import pandas as pd
import numpy as np
import os
import ddf_utils.ddf_reader as ddf

In [2]:
ddf.SEARCH_PATH = "/Users/semio/src/work/Gapminder/"

In [3]:
l = pd.read_csv('./GW_indicators_list.csv')

In [4]:
l.columns

Index(['gw_ddf_id', 'Name', 'settings_link', 'Scale', 'ddf_unit',
       'found_in_ddf', 'ddf_concept_id', 'Notes', 'updated_in_SG'],
      dtype='object')

In [8]:
l2 = l[['gw_ddf_id', 'found_in_ddf', 'ddf_concept_id', 'Notes']]

In [9]:
l2 = l2[~l2['found_in_ddf'].isnull()]

In [10]:
l2

,gw_ddf_id,found_in_ddf,ddf_concept_id,Notes
0,coal_consumption_total,ddf--bp--energy,coal_consumption_mtoe,multiply coal_consumption_mtoe by 100000
1,electricity_generation_total,ddf--bp--energy,electricity_generation,multiply by 1000000000
2,natural_gas_production_total,ddf--bp--energy,gas_production_tonnes,multiply by 1000000
3,natural_gas_proved_reserves_total,ddf--bp--energy,gas_proved_reserves_history,"multiply by 900000000, source unit: cubic metr..."
4,oil_consumption_total,ddf--bp--energy,oil_consumption_tonnes,multiply by 1000000
5,oil_production_total,ddf--bp--energy,oil_production_tonnes,multiply by 1000000
6,oil_proved_reserves_total,ddf--bp--energy,oil_proved_reserves_history,"multiply by 136400000, source unit: barrels"
7,co2_emissions_tonnes_per_person,ddf--cdiac-co2,per_capita_co2_emissions_metric_tons_of_carbon,Multiply by 3.667 to get the CO2 data
8,cumulative_co2_emissions_tonnes,ddf--cdiac-co2,total_co2_emissions_from_fossil_fuels_thousand...,the cumulative sum of yearly_co2_emissions_tonnes
9,yearly_co2_emissions_1000_tonnes,ddf--cdiac-co2,total_co2_emissions_from_fossil_fuels_thousand...,equals yearly_co2_emissions_tonnes / 1000
10,yearly_co2_emissions_tonnes,ddf--cdiac-co2,total_co2_emissions_from_fossil_fuels_thousand...,Multiply by 3.667 to get the CO2 data
11,newborn_deaths,ddf--cme,neonatal_deaths_median,NaN
12,newborn_mortality_rate_per_1000,ddf--cme,newborn_mortality_rate_per_1000,NaN
13,under_five_mortality_from_cme_per_1000_born,ddf--cme,under_five_mortality_from_cme_per_1000_born,NaN
14,drought_affected_annual_number,ddf--cred--em_dat,affected,filter disaster == 'drought'
15,earthquake_affected_annual_number,ddf--cred--em_dat,affected,filter disaster == 'earthquake'
16,epidemic_affected_annual_number,ddf--cred--em_dat,affected,filter disaster == 'epidemic'
17,extreme_temperature_affected_annual_number,ddf--cred--em_dat,affected,filter disaster == 'extreme_temperature'
18,flood_affected_annual_number,ddf--cred--em_dat,affected,filter disaster == 'flood'
19,storm_affected_annual_number,ddf--cred--em_dat,affected,filter disaster == 'storm'
20,drought_deaths_annual_number,ddf--cred--em_dat,total_deaths,filter disaster == 'drought'
21,earthquake_deaths_annual_number,ddf--cred--em_dat,total_deaths,filter disaster == 'earthquake'
22,epidemic_deaths_annual_number,ddf--cred--em_dat,total_deaths,filter disaster == 'epidemic'
23,extreme_temperature_deaths_annual_number,ddf--cred--em_dat,total_deaths,filter disaster == 'extreme_temperature'
24,flood_deaths_annual_number,ddf--cred--em_dat,total_deaths,filter disaster == 'flood'
25,storm_deaths_annual_number,ddf--cred--em_dat,total_deaths,filter disaster == 'storm'
26,agricultural_water_withdrawal_percent_of_total,ddf--fao--aquastat,agricultural_water_withdrawal_as_of_total_wate...,NaN
27,desalinated_water_produced_billion_cu_meters,ddf--fao--aquastat,desalinated_water_produced,NaN
28,industrial_water_withdrawal_percent_of_total,ddf--fao--aquastat,industrial_water_withdrawal_as_of_total_water_...,NaN
29,municipal_water_withdrawal_percent_of_total,ddf--fao--aquastat,municipal_water_withdrawal_as_of_total_withdrawal,NaN
...,...,...,...,...
301,net_barter_terms_of_trade_2000_100,ddf--world_bank--world_development_indicators,tt_pri_mrch_xd_wd,NaN
302,exports_unit_value_index_2000100,ddf--world_bank--world_development_indicators,tx_val_mrch_xd_wd,NaN
303,high_technology_exports_percent_of_manufacture...,ddf--world_bank--world_development_indicators,tx_val_tech_mf_zs,NaN
304,improved_water_source_overall_access_percent,ddf--world_bank--world_development_indicators,sh_h2o_safe_ur_zs,NaN
305,improved_water_source_rural_access_percent,ddf--world_bank--world_development_indicators,sh_h2o_safe_ru_zs,NaN
306,improved_water_source_urban_access_percent,ddf--world_bank--world_development_indicators,sh_h2o_safe_zs,NaN
307,armed_forces_personnel_percent_of_labor_force,ddf--world_bank--world_development_indicators,ms_mil_totl_tf_zs,NaN
308,armed_forces_personnel_total,ddf--world_bank--world_development_indicators,ms_mil_totl_p1,NaN
309,forest_area_sq_km,ddf--world_bank--world_development_indicators,ag_lnd_frst_k2,NaN
310,surface_area_sq_km,ddf--world_bank--world_development_indicators,ag_srf_totl_k2,NaN
311,co2_intensity_of_economic_output_kg_co2_per_20...,ddf--world_bank--world_development_indicators,en_atm_co2e_pp_gd_kd,NaN
312,cell_phones_per_100_people,ddf--world_bank--world_development_indicators,it_cel_sets_p2,NaN
313,broadband_subscribers_per_100_people,ddf--world_bank--world_development_indicators,it_net_bbnd_p2,NaN
314,internet_users_per_100_people,ddf--world_bank--world_development_indicators,it_net_user_p2,NaN
315,ratio_of_young_literate_females_to_males_perce...,ddf--world_bank--world_development_indicators,se_ant_1524_lt_fm_zs,NaN
316,poverty_percent_people_below_2_a_day,ddf--world_bank--world_development_indicators,si_pov_2day,NaN
317,alternative_poverty_percent_below_nationally_d...,ddf--world_bank--world_development_indicators,si_pov_nagp or si_pov_nahc,NaN
318,income_share_of_2nd_poorest_20percent,ddf--world_bank--world_development_indicators,si_dst_02nd_20,NaN
319,income_share_of_2nd_richest_20percent,ddf--world_bank--world_development_indicators,si_dst_03rd_20,NaN
320,income_share_of_middle_20percent,ddf--world_bank--world_development_indicators,si_dst_04th_20,NaN
321,income_share_of_poorest_10percent,ddf--world_bank--world_development_indicators,si_dst_10th_10,NaN
322,income_share_of_poorest_20percent,ddf--world_bank--world_development_indicators,si_dst_05th_20,NaN
323,income_share_of_richest_10percent,ddf--world_bank--world_development_indicators,si_dst_frst_10,NaN
324,income_share_of_richest_20percent,ddf--world_bank--world_development_indicators,si_dst_frst_20,NaN
325,rural_poverty_percent_rural_people_below_natio...,ddf--world_bank--world_development_indicators,si_pov_rugp,NaN
326,urban_poverty_percent_urban_people_below_natio...,ddf--world_bank--world_development_indicators,si_pov_urgp,NaN
327,fixed_line_and_mobile_phone_subscribers_per_10...,ddf--world_bank--world_development_indicators,it_mlt_main_p2 + it_cel_sets_p2,NaN
328,pump_price_for_gasoline_us_per_liter,ddf--world_bank--world_development_indicators,ep_pmp_sgas_cd,NaN
329,energy_use_total,ddf--world_bank--world_development_indicators,eg_use_comm_gd_pd_kd,NaN
330,internet_users_total_number,ddf--world_bank--world_development_indicators,it_net_user_p2,NaN

In [26]:
d = iter(l2.groupby('found_in_ddf').groups.items())

In [27]:
it = next(d)

In [28]:
it

('ddf--ilo--kilm_lf', [90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101])

In [29]:
l2.ix[it[1]]

,gw_ddf_id,found_in_ddf,ddf_concept_id,Notes
90,aged_15_64_labour_force_participation_rate_per...,ddf--ilo--kilm_lf,labour_force_participation_rate_percentage,data different?
91,aged_15plus_labour_force_participation_rate_pe...,ddf--ilo--kilm_lf,labour_force_participation_rate_percentage,data different?
92,aged_25_54_labour_force_participation_rate_per...,ddf--ilo--kilm_lf,labour_force_participation_rate_percentage,data different?
93,aged_65plus_labour_force_participation_rate_pe...,ddf--ilo--kilm_lf,labour_force_participation_rate_percentage,data different?
94,males_aged_15_64_labour_force_participation_ra...,ddf--ilo--kilm_lf,labour_force_participation_rate_percentage,data different?
95,males_aged_15plus_labour_force_participation_r...,ddf--ilo--kilm_lf,labour_force_participation_rate_percentage,data different?
96,males_aged_25_54_labour_force_participation_ra...,ddf--ilo--kilm_lf,labour_force_participation_rate_percentage,data different?
97,males_aged_65plus_labour_force_participation_r...,ddf--ilo--kilm_lf,labour_force_participation_rate_percentage,data different?
98,females_aged_15_64_labour_force_participation_...,ddf--ilo--kilm_lf,labour_force_participation_rate_percentage,data different?
99,females_aged_15plus_labour_force_participation...,ddf--ilo--kilm_lf,labour_force_participation_rate_percentage,data different?
100,females_aged_25_54_labour_force_participation_...,ddf--ilo--kilm_lf,labour_force_participation_rate_percentage,data different?
101,females_aged_65plus_labour_force_participation...,ddf--ilo--kilm_lf,labour_force_participation_rate_percentage,data different?

In [31]:
l2.ix[it[1]].gw_ddf_id.values

array(['aged_15_64_labour_force_participation_rate_percent',
       'aged_15plus_labour_force_participation_rate_percent',
       'aged_25_54_labour_force_participation_rate_percent',
       'aged_65plus_labour_force_participation_rate_percent',
       'males_aged_15_64_labour_force_participation_rate_percent',
       'males_aged_15plus_labour_force_participation_rate_percent',
       'males_aged_25_54_labour_force_participation_rate_percent',
       'males_aged_65plus_labour_force_participation_rate_percent',
       'females_aged_15_64_labour_force_participation_rate_percent',
       'females_aged_15plus_labour_force_participation_rate_percent',
       'females_aged_25_54_labour_force_participation_rate_percent',
       'females_aged_65plus_labour_force_participation_rate_percent'], dtype=object)

In [33]:
ddf.ddf_index_cols(it[0], 'labour_force_participation_rate_percentage')

['country', 'sex', 'age_group', 'year']

In [102]:
left = ddf.ddf_datapoint('ddf--gapminder--systema_globalis', 'aged_15_64_labour_force_participation_rate_percent').set_index(
['geo', 'time']
)

In [55]:
left.tail()

          aged_15_64_labour_force_participation_rate_percent
geo time
zwe 2003                                               71.8
    2004                                               71.5
    2005                                               71.3
    2006                                               71.1
    2007                                               71.1

In [103]:
right = ddf.ddf_datapoint(it[0], 'labour_force_participation_rate_percentage')

In [104]:
right = right.query("age_group in ['15_64'] & sex == 'mf'")[['country', 'year', 'labour_force_participation_rate_percentage']]

In [105]:
right.columns = ['geo', 'time', 'aged_15_64_labour_force_participation_rate_percent']

In [106]:
right.tail()

        geo  time  aged_15_64_labour_force_participation_rate_percent
138842  zwe  2015                                          83.271271
138866  zwe  2016                                          83.405693
138890  zwe  2017                                          83.522949
138914  zwe  2018                                          83.620003
138938  zwe  2019                                          83.692436

In [107]:
right = right.set_index(['geo', 'time'])

In [108]:
final = pd.merge(left, right, how='outer', left_index=True, right_index=True, on='aged_15_64_labour_force_participation_rate_percent')

final = final.sort_index()

In [109]:
final = final.reset_index()
final[['geo','aged_15_64_labour_force_participation_rate_percent',  'time']]\
.to_csv('../ddf--datapoints--aged_15_64_labour_force_participation_rate_percent--by--geo--time.csv', float_format='%.2f', index=False)

In [117]:
ddf.ddf_datapoint(it[0], 'labour_force_participation_rate_percentage').age_group.unique()

array(['15_plus', '15_24', '15_64', '25_54', '25_34', '35_54', '55_64',
       '65_plus'], dtype=object)

In [125]:
i = 0

In [151]:
i = i + 1
name = l2.ix[it[1]].gw_ddf_id.values[i]

print(name)

males_aged_25_54_labour_force_participation_rate_percent

In [152]:
left = ddf.ddf_datapoint('ddf--gapminder--systema_globalis', name).set_index(['geo', 'time'])

In [153]:
right = ddf.ddf_datapoint(it[0], 'labour_force_participation_rate_percentage')
right = right.query("age_group in ['25_54'] & sex == 'm'")[['country', 'year', 'labour_force_participation_rate_percentage']]
right.columns = ['geo', 'time', name]
right = right.set_index(['geo', 'time'])

final = pd.merge(left, right, how='outer', left_index=True, right_index=True, on=name)

final = final.sort_index()

In [154]:
final.head()

          males_aged_25_54_labour_force_participation_rate_percent
geo time
afg 1980                                               97.3
    1981                                               97.4
    1982                                               97.4
    1983                                               97.4
    1984                                               97.4

In [155]:
final = final.reset_index()
final[['geo', name,  'time']]\
.to_csv('../ddf--datapoints--'+name+'--by--geo--time.csv', float_format='%.2f', index=False)

In [25]:
next(d)

('ddf--g-hist_tfr', [45, 46, 47])