In [1]:
import pandas as pd
import numpy as np
import os
import ddf_utils.ddf_reader as ddf

In [2]:
ddf.SEARCH_PATH = "/Users/semio/src/work/Gapminder/"

In [3]:
l = pd.read_csv('./GW_indicators_list.csv')

In [4]:
l2 = l[['gw_ddf_id', 'found_in_ddf', 'ddf_concept_id', 'Notes']]
l2 = l2[~l2['found_in_ddf'].isnull()]

In [5]:
geo = ddf.ddf_entities('ddf--gapminder--geo_entity_domain')['country']

In [6]:
def get_geo_map(geo_2, column='area'):

    geo_map = {} 

    cols = ['alternative_1', 'alternative_2', 'alternative_3', 'gapminder_list',
           'alternative_4_cdiac', 'pandg', 'god_id', 'alt_5', 'upper_case_name',
           'code', 'arb1', 'arb2', 'arb3', 'arb4', 'arb5', 'arb6', 'name']

    for i, v in geo_2.iterrows():

        geo_map[v[column]] = np.nan


        for c in cols:
            f = geo[geo[c] == v['name'].strip()]
            if len(f) > 0:
                geo_map[v[column]] = f['country'].values[0]
            if len(f) > 1:
                print(f)
                
    return geo_map

In [22]:
d = iter(l2.groupby('found_in_ddf').groups.items())

In [9]:
it = next(d)
l2.ix[it[1]]

,gw_ddf_id,found_in_ddf,ddf_concept_id,Notes
89,gdpperworking_hour_us_inflation_adjusted,ddf--ilo--kilm_labour_prod,gdp_per_hour_worked_constant_1990_us_at_ppp,data different?

In [10]:
name = l2.ix[it[1]].iloc[0].gw_ddf_id
name_2 = l2.ix[it[1]].iloc[0].ddf_concept_id

In [12]:
left = ddf.ddf_datapoint('ddf--gapminder--systema_globalis', name).set_index(['geo', 'time'])

In [13]:
right = ddf.ddf_datapoint(it[0], name_2)

In [15]:
right.columns = ['geo', 'time', name]

In [16]:
right[['geo', name, 'time']].to_csv('../ddf--datapoints--'+name+'--by--geo--time.csv', float_format='%.2f', index=False)

In [31]:
it = next(d)
l2.ix[it[1]]

,gw_ddf_id,found_in_ddf,ddf_concept_id,Notes
34,food_supply_kilocalories_per_person_and_day,ddf--fao--food_supply,food_supply_kcal_capita_day,filter item == 2901

In [41]:
geo2 = ddf.ddf_entities(it[0])['country']
geo_map = get_geo_map(geo2, 'country')

In [42]:
a = pd.DataFrame(data=geo_map, index=['map']).T
a = a[a['map'].isnull()]

geo2.set_index('country').ix[a.index]

                                         name
15                         Belgium-Luxembourg
41                            China, mainland
62                               Ethiopia PDR
102                Iran (Islamic Republic of)
117                         Republic of Korea
120          Lao People's Democratic Republic
151             Netherlands Antilles (former)
206                            Sudan (former)
214                 China, Taiwan Province of
215               United Republic of Tanzania
248                              Yugoslav SFR
5000                                    World
5100                                   Africa
5101                           Eastern Africa
5102                            Middle Africa
5103                          Northern Africa
5104                          Southern Africa
5105                           Western Africa
5200                                 Americas
5203                         Northern America
5204                          Central America
5206                                Caribbean
5207                            South America
5300                                     Asia
5301                             Central Asia
5302                             Eastern Asia
5303                            Southern Asia
5304                       South-Eastern Asia
5305                             Western Asia
5400                                   Europe
5401                           Eastern Europe
5402                          Northern Europe
5403                          Southern Europe
5404                           Western Europe
5500                                  Oceania
5501                  Australia & New Zealand
5502                                Melanesia
5504                                Polynesia
5706                           European Union
5801                Least Developed Countries
5802         Land Locked Developing Countries
5803           Small Island Developing States
5815        Low Income Food Deficit Countries
5817  Net Food Importing Developing Countries

In [45]:
geo_map[102] = 'irn'
geo_map[117] = 'kor'
geo_map[120] = 'lao'
geo_map[151] = 'ant'
geo_map[206] = 'sdn'
geo_map[214] = 'twn'
geo_map[248] = 'yug'

a = a.drop([102, 117, 120, 151, 206, 214, 248])

In [35]:
name = l2.ix[it[1]].iloc[0].gw_ddf_id
name_2 = l2.ix[it[1]].iloc[0].ddf_concept_id

In [36]:
left = ddf.ddf_datapoint('ddf--gapminder--systema_globalis', name).set_index(['geo', 'time'])

In [48]:
right = ddf.ddf_datapoint(it[0], name_2)

In [49]:
right = right.query("item == 2901")[['country', 'year', name_2]].copy()

In [50]:
right.columns = ['geo', 'time', name]

right = right.query("geo not in @a.index")

right.geo = right.geo.map(lambda x: geo_map[x])

In [54]:
right.sort_values(by=['geo', 'time'])[[name, 'geo', 'time']].to_csv('../ddf--datapoints--'+name+'--by--geo--time.csv', float_format='%.0f', index=False)

In [63]:
it = next(d)
l2.ix[it[1]]

,gw_ddf_id,found_in_ddf,ddf_concept_id,Notes
155,female_population_with_projections,ddf--unpop--wpp_pop,population,"sum of country_code == 4 & gender == ""female"",..."
156,male_population_with_projections,ddf--unpop--wpp_pop,population,"sum of country_code == 4 & gender == ""male"", m..."
157,sex_ratio_0_14_years,ddf--unpop--wpp_pop,population,data difference?
158,sex_ratio_15_24_years,ddf--unpop--wpp_pop,population,data difference?
159,sex_ratio_15_49_years,ddf--unpop--wpp_pop,population,data difference?
160,sex_ratio_above_50_years,ddf--unpop--wpp_pop,population,data difference?
161,sex_ratio_all_age_groups,ddf--unpop--wpp_pop,population,data difference?
162,population_aged_0_4_years_both_sexes_percent,ddf--unpop--wpp_pop,population,data difference?
163,population_aged_0_4_years_female_percent,ddf--unpop--wpp_pop,population,data difference?
164,population_aged_0_4_years_male_percent,ddf--unpop--wpp_pop,population,data difference?
165,population_aged_0_4_years_total_number,ddf--unpop--wpp_pop,population,data difference?
166,population_aged_10_14_years_both_sexes_percent,ddf--unpop--wpp_pop,population,data difference?
167,population_aged_10_14_years_female_percent,ddf--unpop--wpp_pop,population,data difference?
168,population_aged_10_14_years_male_percent,ddf--unpop--wpp_pop,population,data difference?
169,population_aged_10_14_years_total_number,ddf--unpop--wpp_pop,population,data difference?
170,population_aged_15_19_years_both_sexes_percent,ddf--unpop--wpp_pop,population,data difference?
171,population_aged_15_19_years_female_percent,ddf--unpop--wpp_pop,population,data difference?
172,population_aged_15_19_years_male_percent,ddf--unpop--wpp_pop,population,data difference?
173,population_aged_15_19_years_total_number,ddf--unpop--wpp_pop,population,data difference?
174,population_aged_20_39_years_both_sexes_percent,ddf--unpop--wpp_pop,population,data difference?
175,population_aged_20_39_years_female_percent,ddf--unpop--wpp_pop,population,data difference?
176,population_aged_20_39_years_male_percent,ddf--unpop--wpp_pop,population,data difference?
177,population_aged_20_39_years_total_number,ddf--unpop--wpp_pop,population,data difference?
178,population_aged_40_59_years_both_sexes_percent,ddf--unpop--wpp_pop,population,data difference?
179,population_aged_40_59_years_female_percent,ddf--unpop--wpp_pop,population,data difference?
180,population_aged_40_59_years_male_percent,ddf--unpop--wpp_pop,population,data difference?
181,population_aged_40_59_years_total_number,ddf--unpop--wpp_pop,population,data difference?
182,population_aged_5_9_years_both_sexes_percent,ddf--unpop--wpp_pop,population,data difference?
183,population_aged_5_9_years_female_percent,ddf--unpop--wpp_pop,population,data difference?
184,population_aged_5_9_years_male_percent,ddf--unpop--wpp_pop,population,data difference?
185,population_aged_5_9_years_total_number,ddf--unpop--wpp_pop,population,data difference?
186,population_aged_60plus_years_both_sexes_percent,ddf--unpop--wpp_pop,population,data difference?
187,population_aged_60plus_years_female_percent,ddf--unpop--wpp_pop,population,data difference?
188,population_aged_60plus_years_male_percent,ddf--unpop--wpp_pop,population,data difference?
189,population_aged_60plus_years_total_number,ddf--unpop--wpp_pop,population,data difference?

In [71]:
geo2 = ddf.ddf_entities(it[0])['country_code']
geo_map = get_geo_map(geo2, 'country_code')

In [72]:
a = pd.DataFrame(data=geo_map, index=['map']).T
a = a[a['map'].isnull()]

geo2.set_index('country_code').ix[a.index]

                                                   name
158                           Other non-specified areas
180                    Democratic Republic of the Congo
364                          Iran (Islamic Republic of)
410                                   Republic of Korea
418                    Lao People's Democratic Republic
834                         United Republic of Tanzania
900                                               WORLD
901                              More developed regions
902                              Less developed regions
903                                              AFRICA
904                     LATIN AMERICA AND THE CARIBBEAN
905                                    NORTHERN AMERICA
906                                        Eastern Asia
908                                              EUROPE
909                                             OCEANIA
910                                      Eastern Africa
911                                       Middle Africa
912                                     Northern Africa
913                                     Southern Africa
914                                      Western Africa
915                                           Caribbean
916                                     Central America
920                                  South-Eastern Asia
921                                  South-Central Asia
922                                        Western Asia
923                                      Eastern Europe
924                                     Northern Europe
925                                     Southern Europe
926                                      Western Europe
927                               Australia/New Zealand
928                                           Melanesia
931                                       South America
934   Less developed regions, excluding least develo...
935                                                ASIA
941                           Least developed countries
947                                  Sub-Saharan Africa
948             Less developed regions, excluding China
957                                           Polynesia
1500                               Low-income countries
1501                      Lower-middle-income countries
1502                      Upper-middle-income countries
1503                              High-income countries
1517                            Middle-income countries
5500                                       Central Asia
5501                                      Southern Asia

In [73]:
geo_map[180] = 'cod'
geo_map[364] = 'irn'
geo_map[410] = 'kor'
geo_map[834] = 'tza'
geo_map[957] = 'pyf'

a = a.drop([180, 364, 410, 834, 957])

In [191]:
name = l2.ix[it[1]].iloc[7].gw_ddf_id
name_2 = 'population'

In [192]:
name

'population_aged_0_4_years_both_sexes_percent'

In [193]:
left = ddf.ddf_datapoint('ddf--gapminder--systema_globalis', name).set_index(['geo', 'time'])

In [69]:
right0 = pd.read_csv('../../ddf--unpop--wpp_pop/ddf--datapoints--population--by--country_code--year--age.csv')
right1 = pd.read_csv('../../ddf--unpop--wpp_pop/ddf--datapoints--population--by--country_code--year--gender--age.csv')

In [74]:
right0 = right0.query("country_code not in @a.index")

In [75]:
right1 = right1.query("country_code not in @a.index")

In [105]:
ages = ddf.ddf_entities(it[0])['age']

In [195]:
af1 = ages[0:5].age.values

In [196]:
af1

array(['0', '1', '2', '3', '4'], dtype=object)

In [111]:
# right = right1.query('gender == "male" & age in @af1')[['country_code', 'year', name_2]].copy()
right_t = None

In [197]:
right_m = right1.query('gender == "male" & age in @af1')[['country_code', 'year', name_2]].copy()
right_f = right1.query('gender == "female" & age in @af1')[['country_code', 'year', name_2]].copy()

In [198]:
right_m.columns = ['geo', 'time', name]
right_m.geo = right_m.geo.map(lambda x: geo_map[x])
right_m = right_m.groupby(['geo', 'time']).sum()
# right_m = right_m.set_index(['geo', 'time'])

right_f.columns = ['geo', 'time', name]
right_f.geo = right_f.geo.map(lambda x: geo_map[x])
right_f = right_f.groupby(['geo', 'time']).sum()
# right_f = right_f.set_index(['geo', 'time'])

In [189]:
# right = right_m / right_f * 100  # sex ratio

In [171]:
right.query("geo == 'afg'")

          sex_ratio_15_49_years
geo time
afg 1950             117.789286
    1951             117.162665
    1952             116.115214
    1953             115.199762
    1954             114.575063
    1955             114.162812
    1956             113.321068
    1957             112.884428
    1958             112.558944
    1959             112.069579
    1960             111.325360
    1961             110.577320
    1962             109.546526
    1963             108.411676
    1964             107.429158
    1965             106.710711
    1966             106.067319
    1967             105.621694
    1968             105.318135
    1969             105.052617
    1970             104.772774
    1971             104.436235
    1972             104.113663
    1973             103.818776
    1974             103.573472
    1975             103.388310
    1976             103.224487
    1977             103.110019
    1978             103.051890
    1979             103.060162
...                         ...
    2071             104.733146
    2072             104.721595
    2073             104.717619
    2074             104.721452
    2075             104.731996
    2076             104.709409
    2077             104.698121
    2078             104.697685
    2079             104.707596
    2080             104.726429
    2081             104.708022
    2082             104.703026
    2083             104.709824
    2084             104.726427
    2085             104.750169
    2086             104.739666
    2087             104.741038
    2088             104.753458
    2089             104.775724
    2090             104.805760
    2091             104.797048
    2092             104.802189
    2093             104.819896
    2094             104.848595
    2095             104.886186
    2096             104.876492
    2097             104.883219
    2098             104.905405
    2099             104.941386
    2100             104.988902

[151 rows x 1 columns]

In [99]:
right.columns = ['geo', 'time', name]

right.geo = right.geo.map(lambda x: geo_map[x])

In [100]:
right = right.groupby(['geo', 'time']).sum() * 1000

In [190]:
right.reset_index().sort_values(by=['geo', 'time'])\
[['geo', name, 'time']].to_csv('../ddf--datapoints--'+name+'--by--geo--time.csv', float_format='%.2f', index=False)

In [205]:
total_pop = right0[['country_code', 'year', name_2]].copy()

total_pop.columns = ['geo', 'time', name_2]

total_pop.geo = total_pop.geo.map(lambda x: geo_map[x])

total_pop = total_pop.groupby(['geo', 'time']).sum()

In [212]:
for i, v in l2.ix[it[1]].iloc[7:].iterrows():
    name = v['gw_ddf_id']
    print(name)
    
    if '0_4' in name:
        af = ages[0:5].age.values
    elif '10_14' in name:
        af = ages[10:15].age.values
    elif '15_19' in name:
        af = ages[15:20].age.values
    elif '20_39' in name:
        af = ages[20:40].age.values
    elif '40_59' in name:
        af = ages[40:60].age.values
    elif '5_9' in name:
        af = ages[5:10].age.values
    elif '60plus' in name:
        af = ages[60:].age.values
    
    right_m = right1.query('gender == "male" & age in @af')[['country_code', 'year', name_2]].copy()
    right_m.columns = ['geo', 'time', name]
    right_m.geo = right_m.geo.map(lambda x: geo_map[x])
    right_m = right_m.groupby(['geo', 'time']).sum()

    right_f = right1.query('gender == "female" & age in @af')[['country_code', 'year', name_2]].copy()
    right_f.columns = ['geo', 'time', name]
    right_f.geo = right_f.geo.map(lambda x: geo_map[x])
    right_f = right_f.groupby(['geo', 'time']).sum()
    
    total_pop.columns = [name]
    
    if 'male' in name:
        right = right_m / total_pop * 100
    
    elif 'female' in name:
        right = right_f / total_pop * 100
        
    elif 'both' in name:
        right = (right_m + right_f) / total_pop * 100

    elif 'total' in name:
        right = right_m + right_f
        
    right = right.reset_index()
#     print(right.columns)
    right.columns = ['geo', 'time', name]
    
    if 'total' in name:
        right[name] = right[name] * 1000
        right.sort_values(by=['geo', 'time'])\
        [['geo', name, 'time']].to_csv('../ddf--datapoints--'+name+'--by--geo--time.csv', float_format='%.0f', index=False)
        
    else:
        right.sort_values(by=['geo', 'time'])\
        [['geo', name, 'time']].to_csv('../ddf--datapoints--'+name+'--by--geo--time.csv', float_format='%.2f', index=False)

population_aged_0_4_years_both_sexes_percent
population_aged_0_4_years_female_percent
population_aged_0_4_years_male_percent
population_aged_0_4_years_total_number
population_aged_10_14_years_both_sexes_percent
population_aged_10_14_years_female_percent
population_aged_10_14_years_male_percent
population_aged_10_14_years_total_number
population_aged_15_19_years_both_sexes_percent
population_aged_15_19_years_female_percent
population_aged_15_19_years_male_percent
population_aged_15_19_years_total_number
population_aged_20_39_years_both_sexes_percent
population_aged_20_39_years_female_percent
population_aged_20_39_years_male_percent
population_aged_20_39_years_total_number
population_aged_40_59_years_both_sexes_percent
population_aged_40_59_years_female_percent
population_aged_40_59_years_male_percent
population_aged_40_59_years_total_number
population_aged_5_9_years_both_sexes_percent
population_aged_5_9_years_female_percent
population_aged_5_9_years_male_percent
population_aged_5_9_years_total_number
population_aged_60plus_years_both_sexes_percent
population_aged_60plus_years_female_percent
population_aged_60plus_years_male_percent
population_aged_60plus_years_total_number

In [213]:
it = next(d)
l2.ix[it[1]]  # TODO

,gw_ddf_id,found_in_ddf,ddf_concept_id,Notes
7,co2_emissions_tonnes_per_person,ddf--cdiac-co2,per_capita_co2_emissions_metric_tons_of_carbon,Multiply by 3.667 to get the CO2 data
8,cumulative_co2_emissions_tonnes,ddf--cdiac-co2,total_co2_emissions_from_fossil_fuels_thousand...,the cumulative sum of yearly_co2_emissions_tonnes
9,yearly_co2_emissions_1000_tonnes,ddf--cdiac-co2,total_co2_emissions_from_fossil_fuels_thousand...,equals yearly_co2_emissions_tonnes / 1000
10,yearly_co2_emissions_tonnes,ddf--cdiac-co2,total_co2_emissions_from_fossil_fuels_thousand...,Multiply by 3.667 to get the CO2 data

In [489]:
name = l2.ix[[7, 8, 9, 10]].iloc[2].gw_ddf_id
name_2 = l2.ix[[7, 8, 9, 10]].iloc[2].ddf_concept_id

In [354]:
ddf_id = 'ddf--cdiac-co2'

In [481]:
name

'yearly_co2_emissions_1000_tonnes'

In [467]:
geo2 = right[['nation']].drop_duplicates()

In [468]:
from ddf_utils.str import to_concept_id

geo2.columns = ['name']
geo2['nation'] = geo2['name'].map(to_concept_id)

geo2['name'] = geo2['name'].str.title()

In [469]:
geo_map = get_geo_map(geo2, 'nation')

In [472]:
a = pd.DataFrame(data=geo_map, index=['map']).T
a = a[a['map'].isnull()]

geo2.set_index('nation').ix[a.index]

                                                                                            name
antigua_barbuda                                                                  Antigua_Barbuda
bosnia_herzegovina                                                            Bosnia_Herzegovina
british_virgin_islands                                                    British_Virgin_Islands
brunei_darussalam                                                              Brunei_Darussalam
cape_verde                                                                            Cape_Verde
cayman_islands                                                                    Cayman_Islands
central_african_republic                                                Central_African_Republic
china_mainland                                                                    China_Mainland
christmas_island                                                                Christmas_Island
cook_islands                                                                        Cook_Islands
costa_rica                                                                            Costa_Rica
cote_d_ivoire                                                                      Cote_D_Ivoire
czech_republic                                                                    Czech_Republic
democratic_people_s_republic_of_korea                      Democratic_People_S_Republic_Of_Korea
democratic_republic_of_the_congo_formerly_zaire  Democratic_Republic_Of_The_Congo_Formerly_Zaire
democratic_republic_of_vietnam                                    Democratic_Republic_Of_Vietnam
el_salvador                                                                          El_Salvador
equatorial_guinea                                                              Equatorial_Guinea
faeroe_islands                                                                    Faeroe_Islands
falkland_islands_malvinas                                              Falkland_Islands_Malvinas
former_panama_canal_zone                                                Former_Panama_Canal_Zone
france_including_monaco                                                  France_Including_Monaco
french_guiana                                                                      French_Guiana
french_polynesia                                                                French_Polynesia
guinea_bissau                                                                      Guinea_Bissau
islamic_republic_of_iran                                                Islamic_Republic_Of_Iran
italy_including_san_marino                                            Italy_Including_San_Marino
japan_excluding_the_ruyuku_islands                            Japan_Excluding_The_Ruyuku_Islands
kuwaiti_oil_fires                                                              Kuwaiti_Oil_Fires
lao_people_s_democratic_republic                                Lao_People_S_Democratic_Republic
...                                                                                          ...
marshall_islands                                                                Marshall_Islands
netherland_antilles                                                          Netherland_Antilles
new_caledonia                                                                      New_Caledonia
new_zealand                                                                          New_Zealand
occupied_palestinian_territory                                    Occupied_Palestinian_Territory
papua_new_guinea                                                                Papua_New_Guinea
puerto_rico                                                                          Puerto_Rico
republic_of_cameroon                                                        Republic_Of_Cameroon
republic_of_korea                                                              Republic_Of_Korea
republic_of_south_vietnam                                              Republic_Of_South_Vietnam
russian_federation                                                            Russian_Federation
ryukyu_islands                                                                    Ryukyu_Islands
saint_helena                                                                        Saint_Helena
saint_lucia                                                                          Saint_Lucia
sao_tome_principe                                                              Sao_Tome_Principe
saudi_arabia                                                                        Saudi_Arabia
solomon_islands                                                                  Solomon_Islands
sri_lanka                                                                              Sri_Lanka
st_kitts_nevis                                                                    St_Kitts_Nevis
st_pierre_miquelon                                                            St_Pierre_Miquelon
st_vincent_the_grenadines                                              St_Vincent_The_Grenadines
syrian_arab_republic                                                        Syrian_Arab_Republic
timor_leste_formerly_east_timor                                  Timor_Leste_Formerly_East_Timor
trinidad_and_tobago                                                          Trinidad_And_Tobago
united_arab_emirates                                                        United_Arab_Emirates
united_kingdom                                                                    United_Kingdom
united_republic_of_tanzania                                          United_Republic_Of_Tanzania
united_states_of_america                                                United_States_Of_America
viet_nam                                                                                Viet_Nam
western_sahara                                                                    Western_Sahara

[61 rows x 1 columns]

In [471]:
geo_map['federal_republic_of_germany'] = 'deu_west'
geo_map['federated_states_of_micronesia'] = 'fsm'
geo_map['former_democratic_yemen'] = 'yem_south'
geo_map['former_german_democratic_republic'] = 'deu_east'

geo_map['former_yemen'] = 'yem'
geo_map['hong_kong_special_adminstrative_region_of_china'] = 'hkg'
geo_map['macau_special_adminstrative_region_of_china'] = 'mac'
geo_map['netherland_antilles_and_aruba'] = 'ant'

geo_map['pacific_islands_palau'] = 'plw'
geo_map['republic_of_moldova'] = 'mda'
geo_map['turks_and_caicos_islands'] = 'tca'
geo_map['ussr'] = 'ussr'
geo_map['wallis_and_futuna_islands'] = 'wlf'


geo_map['yugoslavia_former_socialist_federal_republic'] = 'mkd'
geo_map['yugoslavia_montenegro_serbia'] = 'yug'

In [473]:
a

                                                 map
antigua_barbuda                                  NaN
bosnia_herzegovina                               NaN
british_virgin_islands                           NaN
brunei_darussalam                                NaN
cape_verde                                       NaN
cayman_islands                                   NaN
central_african_republic                         NaN
china_mainland                                   NaN
christmas_island                                 NaN
cook_islands                                     NaN
costa_rica                                       NaN
cote_d_ivoire                                    NaN
czech_republic                                   NaN
democratic_people_s_republic_of_korea            NaN
democratic_republic_of_the_congo_formerly_zaire  NaN
democratic_republic_of_vietnam                   NaN
el_salvador                                      NaN
equatorial_guinea                                NaN
faeroe_islands                                   NaN
falkland_islands_malvinas                        NaN
former_panama_canal_zone                         NaN
france_including_monaco                          NaN
french_guiana                                    NaN
french_polynesia                                 NaN
guinea_bissau                                    NaN
islamic_republic_of_iran                         NaN
italy_including_san_marino                       NaN
japan_excluding_the_ruyuku_islands               NaN
kuwaiti_oil_fires                                NaN
lao_people_s_democratic_republic                 NaN
...                                              ...
marshall_islands                                 NaN
netherland_antilles                              NaN
new_caledonia                                    NaN
new_zealand                                      NaN
occupied_palestinian_territory                   NaN
papua_new_guinea                                 NaN
puerto_rico                                      NaN
republic_of_cameroon                             NaN
republic_of_korea                                NaN
republic_of_south_vietnam                        NaN
russian_federation                               NaN
ryukyu_islands                                   NaN
saint_helena                                     NaN
saint_lucia                                      NaN
sao_tome_principe                                NaN
saudi_arabia                                     NaN
solomon_islands                                  NaN
sri_lanka                                        NaN
st_kitts_nevis                                   NaN
st_pierre_miquelon                               NaN
st_vincent_the_grenadines                        NaN
syrian_arab_republic                             NaN
timor_leste_formerly_east_timor                  NaN
trinidad_and_tobago                              NaN
united_arab_emirates                             NaN
united_kingdom                                   NaN
united_republic_of_tanzania                      NaN
united_states_of_america                         NaN
viet_nam                                         NaN
western_sahara                                   NaN

[61 rows x 1 columns]

In [483]:
left = ddf.ddf_datapoint('ddf--gapminder--systema_globalis', name).set_index(['geo', 'time'])

In [440]:
right = ddf.ddf_datapoint(ddf_id, name_2)

In [357]:
versions = right.version.unique()

In [358]:
versions

array(['1751_2008', '1751_2009', '1751_2010', '1751_2011'], dtype=object)

In [441]:
for v in versions[::-1]:
    if v in right.version.unique():
        right = right[right.version == v][['nation', 'year', name_2]].copy()
        break

In [442]:
right.nation = right.nation.map(to_concept_id)

In [474]:
right = right.query("nation not in @a.index")

In [475]:
right.nation = right.nation.map(lambda x: geo_map[x])

In [476]:
right.columns = ['geo', 'time', name]

In [477]:
right = right.set_index(['geo', 'time'])

In [478]:
rigth = right * 3.667

In [494]:
right.sort_index().reset_index()\
[[name, 'geo', 'time']].to_csv('../ddf--datapoints--'+name+'--by--geo--time.csv', float_format='%.2f', index=False)

In [526]:
right = right.reset_index()

In [530]:
to_concat = []

for c, ids in right.groupby(['geo']).groups.items():
    df = right.ix[ids].copy()
    df[name] = df[name].cumsum()
    
    to_concat.append(df)

In [540]:
right = pd.concat(to_concat)

In [541]:
name = 'cumulative_co2_emissions_tonnes'

right.columns = ['geo', 'time', name]

right[name] = right[name] * 1000

In [542]:
right.sort_values(by=['geo', 'time'])\
[['geo', name, 'time']].to_csv('../ddf--datapoints--'+name+'--by--geo--time.csv', float_format='%.0f', index=False)

In [218]:
it = next(d)
l2.ix[it[1]]

,gw_ddf_id,found_in_ddf,ddf_concept_id,Notes
14,drought_affected_annual_number,ddf--cred--em_dat,affected,filter disaster == 'drought'
15,earthquake_affected_annual_number,ddf--cred--em_dat,affected,filter disaster == 'earthquake'
16,epidemic_affected_annual_number,ddf--cred--em_dat,affected,filter disaster == 'epidemic'
17,extreme_temperature_affected_annual_number,ddf--cred--em_dat,affected,filter disaster == 'extreme_temperature'
18,flood_affected_annual_number,ddf--cred--em_dat,affected,filter disaster == 'flood'
19,storm_affected_annual_number,ddf--cred--em_dat,affected,filter disaster == 'storm'
20,drought_deaths_annual_number,ddf--cred--em_dat,total_deaths,filter disaster == 'drought'
21,earthquake_deaths_annual_number,ddf--cred--em_dat,total_deaths,filter disaster == 'earthquake'
22,epidemic_deaths_annual_number,ddf--cred--em_dat,total_deaths,filter disaster == 'epidemic'
23,extreme_temperature_deaths_annual_number,ddf--cred--em_dat,total_deaths,filter disaster == 'extreme_temperature'
24,flood_deaths_annual_number,ddf--cred--em_dat,total_deaths,filter disaster == 'flood'
25,storm_deaths_annual_number,ddf--cred--em_dat,total_deaths,filter disaster == 'storm'

In [327]:
name = l2.ix[it[1]].iloc[11].gw_ddf_id
name_2 = l2.ix[it[1]].iloc[11].ddf_concept_id

In [328]:
name

'storm_deaths_annual_number'

In [482]:
left = ddf.ddf_datapoint('ddf--gapminder--systema_globalis', name).set_index(['geo', 'time'])

In [329]:
right = ddf.ddf_datapoint(it[0], name_2)

In [330]:
right = right.query("disaster == 'storm'")[['country', 'year', name_2]]

In [331]:
right.columns = ['geo', 'time', name]

right = right.set_index(['geo', 'time'])

In [332]:
# final = pd.merge(right, left, how='outer', left_index=True, right_index=True, on=name)

In [333]:
right.sort_index().reset_index()\
[['geo', name, 'time']].to_csv('../ddf--datapoints--'+name+'--by--geo--time.csv', float_format='%.0f', index=False)

In [348]:
it = next(d)
l2.ix[it[1]]

StopIteration: